// _variables.scss

// Colores
$primary-color: #333;       // Color primario para encabezados y botones
$secondary-color: #666;     // Color secundario para texto de información
$background-color: #f4f4f4; // Color de fondo general
$container-bg-color: #fff;  // Color de fondo para contenedores principales

// Fuentes
$body-font-family: Arial, sans-serif;
$heading-font-family: 'Arial Black', sans-serif;

// Tamaños
$container-max-width: 800px; // Ancho máximo para contenedores principales
$input-width: 70%;           // Ancho de los campos de entrada

// Espaciado
$spacing-unit: 10px;         // Unidad base para márgenes y rellenos
